.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checked{
    text-decoration: line-through;
}
form{
    margin: 10px;
}
input[type="text"]{
    border-bottom: 1px solid rgb(171, 169, 169);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    color: rgb(171, 169, 169);
    font-size: 20px;
}
input[type="text"]:focus{
    outline: none;
}
input[type="submit"]{
    background-color: rgb(11, 11, 11);
    color: white;
    border: none;
    box-shadow: 0px 1px 1px;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}
table{
    margin: 20px;
}
thead tr th{
    font-size: 20px;
}
.to_do{
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0px 4px 6px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(237, 238, 239);
}
.to_do .data{
    width: 200px;
    font-size: 23px;
    border-bottom: 1px solid rgb(171, 169, 169);
    margin: 10px;
    
}
.to_do a{
    text-decoration: none;
    font-size: 15px;
    
    color: crimson;
   padding: 10px;
}
